/* body{
    background-color: bisque;
    color: sienna;
    text-align: center;
    font-size: 45px;
    
} */
button{
    /* color: white;
    background-color: blue; */
    width: 85px;
    height: 40px;
    /* border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
